@page {
    size: 21cm 30cm;
    margin: 5mm 10mm 5mm 10mm;
}
page[size="ticket"] {
    background: white;
    width: 21cm;
    height: 30cm;
    display: block;
    margin: 0 auto;
    margin-bottom: 0.5cm;
}

.ticket2 {
    color: darkslategray;
    position: relative;
    width: 16cm;
    height: 5cm;
    display: inline-block;
    margin: 3mm;
    margin-left: 3cm;
}

.template2 {
    width: 16cm;
    height: 5cm;
    position: absolute;
    border: 1px solid black;
}

.ticket2 .eventDate {
    position: absolute;
    left: 355px;
    top: 15px;
    text-align: center;
    width: 50px;
}

.ticket2 .eventMonth {
    position: absolute;
    font-weight: 100;
    left: 355px;
    top: 50px;
    width: 50px;
    text-align: center;
}

.ticket2 .eventTime {
    position: absolute;
    font-weight: 100;
    left: 357px;
    top: 80px;
    width: 60px;
    text-align: left;
}

.ticket2 .eventTimeUnit {
    position: absolute;
    font-weight: 100;
    left: 350px;
    top: 75px;
    width: 60px;
    text-align: right;
}

.ticket2 .eventName {
    position: absolute;
    font-weight: bold;
    text-align: left;
    left: 40px;
    top: 35px;
    width: 290px;
    height: 55px;
}

.ticket2 .eventCustomer {
    position: absolute;
    font-weight: bold;
    text-align: left;
    left: 226px;
    top: 130px;
    width: 130px;
}

.ticket2 .eventType {
    position: absolute;
    font-weight: bold;
    text-align: left;
    left: 38px;
    top: 130px;
}

.ticket2 .eventPrice {
    position: absolute;
    font-weight: bold;
    text-align: left;
    left: 130px;
    top: 130px;
}

.ticket2 .eventOrder {
    position: absolute;
    font-weight: bold;
    text-align: left;
    left: 364px;
    top: 130px;
}

.ticket2 .eventQRStr {
    position: absolute;
    font-weight: bold;
    text-align: center;
    width: 100px;
    left: 466px;
    top: 10px;
}

.ticket2 .eventQRImg {
    position: absolute;
    font-weight: bold;
    text-align: center;
    left: 475px;
    top: 50px;
    height: 80px;
    width: 80px;
}

.ticket2 .eventNo {
    position: absolute;
    text-align: left;
    width: 100px;
    left: 530px;
    top: 20px;
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}