@page {
    size: 85px 110px;
}

page[size="ticket"] {
    width: 85px;
    height: 110px;
    display: inline-block;
}

.ticket2 {
    color: darkslategray;
    position: relative;
    width: 85px;
    height: 110px;
    margin-bottom: 1mm;
}

.template2 {
    width: 230.55px;
    height: 343.92px;
    position: absolute;
}

.ticket2 .eventDate {
    position: absolute;
    left: 355px;
    top: 15px;
    text-align: center;
    width: 50px;
}

.ticket2 .eventMonth {
    position: absolute;
    font-weight: 100;
    left: 355px;
    top: 50px;
    width: 50px;
    text-align: center;
}

.ticket2 .eventTime {
    position: absolute;
    font-weight: 100;
    left: 357px;
    top: 80px;
    width: 60px;
    text-align: left;
}

.ticket2 .eventTimeUnit {
    position: absolute;
    font-weight: 100;
    left: 350px;
    top: 75px;
    width: 60px;
    text-align: right;
}

.ticket2 .eventName {
    position: absolute;
    font-weight: bold;
    text-align: left;
    left: 40px;
    top: 35px;
    width: 290px;
    height: 55px;
}

.ticket2 .eventCustomer {
    position: absolute;
    font-weight: bold;
    text-align: left;
    left: 226px;
    top: 115px;
    font-size: 20px;
    width: 130px;
}

.ticket2 .eventType {
    position: absolute;
    font-weight: bold;
    text-align: left;
    left: 38px;
    top: 130px;
}

.ticket2 .eventPrice {
    position: absolute;
    font-weight: bold;
    text-align: left;
    left: 130px;
    top: 130px;
}

.ticket2 .eventOrder {
    position: absolute;
    font-weight: bold;
    text-align: left;
    left: 364px;
    top: 130px;
}

.ticket2 .eventQRStr {
    position: absolute;
    font-weight: bold;
    text-align: center;
    width: 85px;
    left: 0px;
    top: 0px;
    margin: 0;
}

.ticket2 .eventQRImg {
    position: absolute;
    font-weight: bold;
    text-align: center;
    left: 0px;
    top: 20px;
    height: 85px;
    width: 85px;
}

.ticket2 .eventNo {
    color: white;
    position: absolute;
    text-align: right;
    width: 40px;
    left: 25px;
    top: 290px;
}