<!DOCTYPE html>
<html>
  <head>
    <title>Gen Ticket</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="asset/css/WCD_Promo_EMPTY.css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Source+Serif+Pro"
      rel="stylesheet"
    />
  </head>

  <body>
    <page id="page" size="A4"> </page>

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- jsPDF library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js"></script>

    <script src="../asset/js/html2canvas.min.js"></script>
    <script src="../asset/js/qrcode.min.js"></script>

    <script>
      var data = `<%- JSON.stringify(data) %>`;
      const dataJson = JSON.parse(data);
      async function GenTicket() {
        for (const ticket of dataJson) {
          CreateTicket(
            ticket.eventDateParam,
            ticket.eventMonthParam,
            ticket.eventTimeParam,
            ticket.eventTimeUnitParam,
            ticket.eventNameParam,
            ticket.eventCustomerParam,
            ticket.eventTypeParam,
            ticket.eventPriceParam,
            ticket.eventOrderParam,
            ticket.eventQRStrParam,
            ticket.eventNoParam
          );
          let delayres = await delay(1000);
        }
      }
      async function CreateTicket(
        eventDateParam,
        eventMonthParam,
        eventTime,
        eventTimeUnit,
        eventNameParam,
        eventCustomerParam,
        eventTypeParam,
        eventPriceParam,
        eventOrderParam,
        eventQRStrParam,
        eventNoParam
      ) {
        console.log("ticket", eventNoParam);
        var ticket = document.createElement("DIV");
        ticket.className += "ticket1";
        ticket.id = eventNoParam;

        var template = document.createElement("IMG");
        template.className += "template1";
        template.src += "asset/template/WCD_Promo_EMPTY.png";

        var eventDate = document.createElement("H1");
        eventDate.className += "eventDate";
        var eventDateText = document.createTextNode(eventDateParam);
        eventDate.appendChild(eventDateText);

        var eventMonth = document.createElement("H2");
        eventMonth.className += "eventMonth";
        var eventMonthText = document.createTextNode(eventMonthParam);
        eventMonth.appendChild(eventMonthText);

        var eventName = document.createElement("H2");
        eventName.className += "eventName";
        var eventNameText = document.createTextNode(eventNameParam);
        eventName.appendChild(eventNameText);

        var eventCustomer = document.createElement("H3");
        eventCustomer.className += "eventCustomer";

        var eventCustomerText = document.createTextNode(eventCustomerParam);
        eventCustomer.appendChild(eventCustomerText);

        var eventType = document.createElement("DIV");
        eventType.className += "eventType";
        var eventTypeLabal = document.createElement("P");
        var eventTypeText = document.createTextNode(eventTypeParam);
        eventTypeLabal.appendChild(eventTypeText);
        eventType.appendChild(eventTypeLabal);

        var eventPrice = document.createElement("H3");
        eventPrice.className += "eventPrice";
        var eventPriceText = document.createTextNode(eventPriceParam);
        eventPrice.appendChild(eventPriceText);

        var eventOrder = document.createElement("H1");
        eventOrder.className += "eventOrder";
        var eventOrderText = document.createTextNode(eventOrderParam);
        eventOrder.appendChild(eventOrderText);

        var eventQRStr = document.createElement("H1");
        eventQRStr.className += "eventQRStr";
        var eventQRStrText = document.createTextNode(eventQRStrParam);
        eventQRStr.appendChild(eventQRStrText);

        // var eventQRImg = document.createElement("IMG");
        // eventQRImg.className += "eventQRImg";
        // eventQRImg.id += "eventQRImg";
        // var typeNumber = 2;
        // var errorCorrectionLevel = "L";
        // var qr = qrcode(typeNumber, errorCorrectionLevel);
        // qr.addData(eventQRStrParam);
        // qr.make();
        // eventQRImg.src = qr.createDataURL(50, 5);

        ticket.appendChild(template);
        ticket.appendChild(eventType);
        // ticket.appendChild(eventCustomer);
        // ticket.appendChild(eventPrice);
        ticket.appendChild(eventQRStr);
        // ticket.appendChild(eventQRImg);
        // ticket.appendChild(eventOrder);

        document.getElementById("page").appendChild(ticket);
        print(eventNoParam);
      }
      GenTicket();
      function removeElement(elementId) {
        // Removes an element from the document
        var element = document.getElementById(elementId);
        element.parentNode.removeChild(element);
      }
      async function generate() {
        let i = 0;
        for (ticket of dataJson) {
          const ticket = "ticket" + i;
          let delayres = await delay(1000);
          print(ticket);
          i++;
        }
      }
      async function print(elementId) {
        var elementHTML = $("#" + elementId).html();
        var specialElementHandlers = {
          "#elementH": function(element, renderer) {
            return true;
          }
        };
        var margins = {
          top: 8,
          bottom: 8,
          left: 8,
          width: 8
        };

        return await html2canvas(document.querySelector("#" + elementId)).then(
          canvas => {
            var pdf = new jsPDF("p", "pt", "a4");
            pdf.addImage(
              canvas.toDataURL("image/png"),
              "PNG",
              15,
              100,
              565,
              645
            );
            pdf.save(elementId);
            document.getElementById(elementId).remove();
          }
        );
      }

      async function delay(delayInms) {
        return new Promise(resolve => {
          setTimeout(() => {
            resolve(2);
          }, delayInms);
        });
      }
    </script>
  </body>
</html>
